/*body {
	font: 16px Helvetica, Sans-Serif;
	background: url(../img/sprites/ricepaper_v3.png);
background: #f0efee;
	
}*/

body {
    
	background: url(../img/sprites/ricepaper_v3.png);
    color: #424d5b;
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans',Helvetica,'Helvetica Neue','Futura',Verdana,'Geneva',sans-serif;
}
#pic {
	float: right;
}

#button {
	margin-left: 40%;
	margin-right: 40%;
	background-color: #213862;

	border-radius: 15px;
	height: 100px;
}
.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}
#container {
	width: 1100px;
	margin: 30px auto 30px;
}

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#content-summarycontent {
	margin: 0 0 16px 0;
	padding: 0 0 32px 0;

	font-style: italic;
	font-size: 18px;
}

#content-professionalheader {
	font-size: 26px;
	border-bottom: 2px solid #999;
}

h2 {
  font-size: 22px;
}
.date {
	float: right;
}

h3 {
	font-size: 20px;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}

.header {
    background: #3a3534;
    color: #fff;
    position: relative;
    z-index: 100;
}
.goldheader {
    background: #ffcc33;
}
.goldheader.parentunit, .goldheader .unit-subheader {
    color: #424d5b;
}
.header .parentunit {
    font-weight: 700;
}
.super-main {
    background: #f0efee;
    z-index: 100;
}
.header .header-inner {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}
